/* style.css */

/* index styling */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 8px;
}

body {
    background-color: beige;
}

img {
    border-radius: 8px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    background-color: rgba(151, 148, 148, 0.473);
    border-radius: 8px;
}

.listmain {
    display: inline-block;
    background-color: rgba(151, 148, 148, 0.473);
    border-radius: 8px;
}

button {
    text-align: center;
    border-radius: 8px;
    border: black;
    border-style: inset;
    padding-left: 200px;
    padding-right: 200px;
}
